body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.page__container {
  padding-top: 100px;
  height: 100%;
}

.navbar .container-fluid {
  padding-left: 0px;
}

.serach__divider {
  color: #ccc; 
  margin: 0 5px;
}
